@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    /*fonts*/
    --heading: "Oswald";
    --primary:"inter";

    --cream: #F5EFE6;
    --light-cream: #FFF9F1;
    --coffee: #6F4E37;
    --dark-coffee: #3B2418;
    --milk: #E8D8C3;
    --text: #2E211B;
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: black;
    font-family: var(--primary);
}
.container{
    margin: 0px auto;
}
ul{
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--text);
    font-family: var(--heading);
    span{
        font-family: var(--heading);
        background-color: var(--coffee);
        color: var(--cream);
        border-radius: 8px;
        padding: 2px 10px;
    }
}

hgroup{
    display: flex;
    flex-direction: column;
}
header {
    background-color:white;
    height: 100px;
}

header .container {
    height: 100%;
    
    margin: 0 auto;

    display: flex;
    align-items: center;
}

/* LOGO */
header img {
    width: 170px;
    height: 120px;
    object-fit: contain;
}

/* NAV */
header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 40px;

    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul a {
    text-transform: uppercase;
    color: var(--dark-coffee);
    font-weight: 600;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color: var(--coffee);
        transform:all .4s ease-in-out;
    }
}

/* RIGHT SIDE */
header .search {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 50px;
}

header .search a {
    color: var(--dark-coffee);
    text-decoration: none;
}

header .search i {
    font-size: 18px;
}

header .search .order-now {
    background-color: var(--coffee);
    color: var(--cream);
    padding: 12px 20px;
    border-radius: 6px;
}
main{
    display: flex;
    height: 70vh;
    align-items: center;

    .container{
        display: flex;
    }
}




/*coffee banner*/
#coffee-banner {
    position: relative;
    height: 500px;

    background-image: url("images/coffe-banner-section.avif");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.coffee-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
}

.coffee-content p {
    font-size: 14px;
    letter-spacing: 3px;
}

.coffee-content h2 {
    font-size: 45px;
    margin: 15px 0;
}

.coffee-content span {
    display: block;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.coffee-content a {
    display: inline-block;
    padding: 12px 25px;
    background: white;
    color: #3b2418;
    text-decoration: none;
    border-radius: 5px;
}
}